name: Main workflow
on: [push]

jobs:
  scrape:
    runs-on: ubuntu-latest

    services:
      splash:
        image: scrapinghub/splash:3.5
        ports:
          - 8050:8050

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: pip install -r requirements.txt

    # - name: Setup tmate session
    #   uses: mxschmitt/action-tmate@v2

    - name: Run spider
      run: scrapy runspider fibertel.py

    # - name: Run spider
    #   run: ./entrypoint.sh
    #   env:
    #     SPIDER_FILE: fibertel.py

    # - name: Run the spider
    #   id: spider
    #   uses: ./
    #   with:
    #     spider-path: 'fibertel.py'

    # # Use the output from the `hello` step
    # - name: Get the output time
    #   run: echo "The time was ${{ steps.spider.outputs.time }}"
